/*Universal*/
/*CartButton & SignInBtn*/
.header .right {
  display: flex;
  gap: 1rem;
}

div.cart,
div.signIn {
  width: 3rem;
  max-width: 4rem;
}

.cartBtn img, 
.accountBtn img {
  width: 100%;
}

.cartBtn,
.accountBtn {
  width: 80%;
  display: inline-block;
  padding: .3rem;
  border-radius: 1rem;
  border: 1px solid black;
}


/*Root*/
/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

div.header {
  display: flex;
  align-items: center;
  padding: .8rem;
  border-bottom: 2px black solid;
}

.header h1 {
  font-size: 3rem;
  font-family: 'Roboto Slab', sans-serif;
}

.header span {
  color: #8E1616;
  font-family: 'Rock Salt';
}

/*SearchBar*/
div.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBar input {
  width: 45%;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid black;
  padding-left: 1rem;
  transition: .1s width;
}

.searchBar input:focus {
  outline: none;
  width: 70%;
  transition: .1s width;
}

/*CartButton*/
.cartBtn:hover {
  cursor: pointer;
  background-color: chocolate;
  transition: .1s background-color;
}

/*AccountButton*/
.accountBtn:hover { 
  cursor: pointer;
  background-color: deepskyblue;
}

/*CategoryOptions*/

/*Main*/
div.main {
  /* width: 100%; */
}

/*Banner*/
div.banner {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.banner .promo {
  width: 85%;
  max-width: 85%;
  height: auto;
}

.banner img {
  max-width: 100%;
  border-radius: 1rem;
  border: 1px solid black;
}

.banner .account {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: blanchedalmond;
  border-radius: 1rem;
  border: 1px solid black;
  gap: 2rem;
}

.register-btn,
.login-btn {
  width: 15rem;
  max-width: 20rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  margin: auto;
  background-color: #A2ED67;
  text-decoration: none;
  text-align: center;
  color: black;
}

.register-btn {
  margin-bottom: 0;
}

.login-btn {
  margin-top: 0;
}

.register-btn:hover,
.login-btn:hover {
  background-color: darksalmon;
  cursor: pointer;
}

/*Products*/
div.products {
  display: flex;
  flex-flow: column;
  width: 100%;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.productCards {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.productCard {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: .5rem;
  padding: 1rem;
  max-width: 250px;
  gap: 1rem;
}

.productCard h3,
.productCard h4 {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  width: 100%;
}

.productCard .container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.productCard .container img {
  width: 60%;
  height: auto;
  max-width: 75%;
}