/*Universal*/
/*CartButton & SignInBtn*/
.header .right {
  display: flex;
  gap: 1rem;
}

div.cart,
div.signIn {
  width: 3rem;
  max-width: 4rem;
}

.cart button img, 
.signIn button img {
  width: 100%;
}

.cart button, 
.signIn button {
  background-color: white;
  border: 1px black solid;
  border-radius: 1rem;
  padding: .5rem;
}

/*Root*/
/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

div.header {
  display: flex;
  align-items: center;
  padding: .8rem;
  border-bottom: 2px black solid;
}

.header h1 {
  font-size: 3rem;
  font-family: 'Roboto Slab', sans-serif;
}

.header span {
  color: #8E1616;
  font-family: 'Rock Salt';
}

/*SearchBar*/
div.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBar input {
  width: 45%;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid black;
  padding-left: 1rem;
  transition: .1s width;
}

.searchBar input:focus {
  outline: none;
  width: 70%;
  transition: .1s width;
}

/*CartButton*/
.cart button:hover {
  cursor: pointer;
  background-color: chocolate;
  transition: .1s background-color;
}

/*SignInButton*/
.signIn button:hover { 
  cursor: pointer;
  background-color: deepskyblue;
}

/*CategoryOptions*/

/*Main*/
div.main {
  /* width: 100%; */
}

/*Banner*/
div.banner {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.banner img {
  max-width: 60%;
  height: auto;
  border-radius: 1rem;
  border: 1px solid black;
}

.banner .account {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background-color: blanchedalmond;
  border-radius: 1rem;
  border: 1px solid black;
  gap: 2rem;
}

.banner .account button {
  width: 15rem;
  max-width: 20rem;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: 1px solid black;
  margin: auto;
  background-color: #A2ED67;
}

.banner .account button:first-child {
  margin-bottom: 0;
}

.banner .account button:last-child {
  margin-top: 0;
}

.banner .account button:hover {
  background-color: darksalmon;
  cursor: pointer;
}