<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/users/logout">Logout</a>
    <h1>Hello <%= user %></h1>
    <ul>
        <% if(typeof success_msg !== 'undefined') { %>
            <li><%= success_msg %></li>
        <% } %>
    </ul>
    <a href="/users/<%= userId %>/edit-profile">Edit Profile</a>
</body>
</html>